In [24]:
import numpy as np
import pandas as pd

In [25]:
# import requests
# import zipfile
# import io

# # URL of the API endpoint that provides the zip file
# api_url = "https://api.data.gov.my/gtfs-static/prasarana?category=rapid-bus-kl"

# try:
#     # Make a GET request to the API
#     response = requests.get(api_url)

#     # Check if the request was successful (status code 200)
#     if response.status_code == 200:
#         # Open the zip file from the response content
#         with zipfile.ZipFile(io.BytesIO(response.content), 'r') as zip_ref:
#             # Extract all contents to a directory
#             zip_ref.extractall("rapidbuskl-data")
#         print("Data extracted successfully.")
#     else:
#         print("Failed to retrieve data. Status code:", response.status_code)
# except Exception as e:
#     print("An error occurred:", e)

Data extracted successfully.

In [26]:
# pip install gtfs-realtime-bindings pandas requests
from google.transit import gtfs_realtime_pb2
from google.protobuf.json_format import MessageToDict
import pandas as pd
from requests import get
 
# Sample GTFS-R URL from Malaysia's Open API
URL = 'https://api.data.gov.my/gtfs-realtime/vehicle-position/prasarana?category=rapid-bus-kl'
 
# Parse the GTFS Realtime feed
feed = gtfs_realtime_pb2.FeedMessage()
response = get(URL)
feed.ParseFromString(response.content)
 
# Extract and print vehicle position information
vehicle_positions = [MessageToDict(entity.vehicle) for entity in feed.entity]
print(f'Total vehicles: {len(vehicle_positions)}')
df = pd.json_normalize(vehicle_positions)
print(df.head())

Total vehicles: 458
    timestamp                    trip.tripId trip.routeId  position.latitude  \
0  1708316311      202402191207U82102WUY9579        U8210           3.102620
1  1708316310      202402191128U45002WUY4098        U4500           3.003010
2  1708316306      202402191023S40502WB2749T        S4050           3.096300
3  1708316324  10019865_1000000293_120000_01        T1090           3.184393
4  1708316324  10013978_1000000281_120000_01        T8050           3.154641

   position.longitude vehicle.id vehicle.licensePlate  position.bearing  \
0           101.66550    WUY9579              WUY9579               NaN
1           101.78260    WUY4098              WUY4098             342.0
2           101.55620    WB2749T              WB2749T               NaN
3           101.62601     VG8643               VG8643             197.0
4           101.58264     VH4925               VH4925             209.0

   position.speed
0             NaN
1            29.0
2             NaN
3            38.0
4            26.0

In [27]:
df

,timestamp,trip.tripId,trip.routeId,position.latitude,position.longitude,vehicle.id,vehicle.licensePlate,position.bearing,position.speed
0,1708316311,202402191207U82102WUY9579,U8210,3.102620,101.66550,WUY9579,WUY9579,NaN,NaN
1,1708316310,202402191128U45002WUY4098,U4500,3.003010,101.78260,WUY4098,WUY4098,342.0,29.0
2,1708316306,202402191023S40502WB2749T,S4050,3.096300,101.55620,WB2749T,WB2749T,NaN,NaN
3,1708316324,10019865_1000000293_120000_01,T1090,3.184393,101.62601,VG8643,VG8643,197.0,38.0
4,1708316324,10013978_1000000281_120000_01,T8050,3.154641,101.58264,VH4925,VH4925,209.0,26.0
...,...,...,...,...,...,...,...,...,...
453,1708316266,202402191148S00402WVJ8170,S0040,3.195370,101.76340,WVJ8170,WVJ8170,265.0,NaN
454,1708316309,202402191139S20002WB8354K,S2000,3.048050,101.58700,WB8354K,WB8354K,NaN,NaN
455,1708316292,202402191140U19001WVC3807,U1900,3.172630,101.65000,WVC3807,WVC3807,222.0,14.0
456,1708316289,202402190623S10502WVN7817,S1050,3.109830,101.76270,WVN7817,WVN7817,NaN,NaN
457,1708316302,202402190550T22302WVB3764,T2230,3.175520,101.73580,WVB3764,WVB3764,NaN,NaN

In [28]:
df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s')

C:\Users\nasuha.imanina\AppData\Local\Temp\ipykernel_11356\20987537.py:1: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s')

In [29]:
trip = pd.read_csv('rapidbuskl-data/trips.txt')
shape = pd.read_csv('rapidbuskl-data/shapes.txt')
stoptime = pd.read_csv('rapidbuskl-data/stop_times.txt')
route = pd.read_csv('rapidbuskl-data/routes.txt')
stop = pd.read_csv('rapidbuskl-data/stops.txt')

In [30]:
trip
# shape

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,H4100,weekday,weekday_H4100_H410002_0,H410002,NaN,0
1,H4200,weekday,weekday_H4200_H420002_0,H420002,NaN,0
2,H4300,weekday,weekday_H4300_H430002_0,H430002,NaN,0
3,P0010,weekend,weekend_P0010_P001002_0,P001002,STESEN LRT TAMAN JAYA,0
4,P0010,weekend,weekend_P0010_P001001_0,P001001,TERMINAL TAMAN MEDAN,1
...,...,...,...,...,...,...
3323,U8510,weekday,weekday_U8510_U851002_5,U851002,NaN,0
3324,U8510,weekday,weekday_U8510_U851002_6,U851002,NaN,0
3325,U8510,weekday,weekday_U8510_U851002_7,U851002,NaN,0
3326,U8510,weekday,weekday_U8510_U851002_8,U851002,NaN,0
3327,U8510,weekday,weekday_U8510_U851002_9,U851002,NaN,0

In [31]:
newdata = pd.concat([df,trip],axis=1,join='inner')

In [32]:
newdata = pd.concat([newdata,shape],axis=1, join='inner')

In [33]:
newdata = pd.concat([newdata,stoptime],axis=1, join='inner')

In [34]:
newdata = pd.concat([newdata,route],axis=1, join='inner')

In [35]:
newdata = pd.concat([newdata,stop],axis=1, join='inner')

In [46]:
newdata['timestamp'] = newdata['timestamp'].astype(str)

In [47]:
from keplergl import KeplerGl
from datetime import datetime
import json

# Assuming the 'arrival_time' column represents the time dimension
# You can also use 'departure_time' or any other time-related column from your GTFS data

# Create a Kepler.gl map
map_1 = KeplerGl()

# Add data to the map
# map_1.add_data(data=station[station['coordinates']], name='coordinate')
map_1.add_data(data=newdata, name='rapid bus kl')

# Configure the Kepler.gl map to animate based on the timestamp column
map_1.config = {
    'version': 'v1',
    'config': {
        "mapState":{
            "latitude": 3.140853, 
            "longitude": 101.693207, 
            "zoom": 11}
    }
}

# Visualize the animated data within Kepler.gl

# map_1
# You can further configure the map interactively in the Jupyter Notebook environment

# If you want to save the map configuration for later use or share it with others
# you can save it as a JSON file
# config = map_1.config

# # config["config"]["animationConfig"]["currentTime"] = str(config["config"]["animationConfig"]["currentTime"])

# configsave = json.dumps(config, default=str)
# print(configsave)
# with open('keplergl_config.json', 'w') as f:
#     f.write(configsave)

# You can also export the map as an HTML file
# map_1.save_to_html(file_name='keplergl_animated_map.html')
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

c:\Users\nasuha.imanina\Documents\railway-test\venv\lib\site-packages\keplergl\keplergl.py:22: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  return df.to_dict('split')
c:\Users\nasuha.imanina\Documents\railway-test\venv\lib\site-packages\jupyter_client\session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(config={'version': 'v1', 'config': {'mapState': {'latitude': 3.140853, 'longitude': 101.693207, 'zoom…

In [48]:
config = map_1.config

In [49]:
configsavekl = json.dumps(config, default=str)
print(configsavekl)
with open('keplergl_config-kl.json', 'w') as f:
    f.write(configsavekl)

# You can also export the map as an HTML file
map_1.save_to_html(file_name='rapidbuskl.html')

{"version": "v1", "config": {"visState": {"filters": [], "layers": [{"id": "ny86yxa", "type": "point", "config": {"dataId": "rapid bus kl", "label": "position", "color": [77, 193, 156], "highlightColor": [252, 242, 26, 255], "columns": {"lat": "position.latitude", "lng": "position.longitude", "altitude": null}, "isVisible": true, "visConfig": {"radius": 10, "fixedRadius": false, "opacity": 0.8, "outline": false, "thickness": 2, "strokeColor": null, "colorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "strokeColorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "radiusRange": [0, 50], "filled": true}, "hidden": false, "textLabel": [{"field": null, "color": [255, 255, 255], "size": 18, "offset": [0, 0], "anchor": "start", "alignment": "center"}]}, "visualChannels": {"colorField": {"name": "shape_pt_sequence", "type": "integer"}, "colorScale": "quantile", "strokeColorField": null, "strokeColorScale": "quantile", "sizeField": null, "sizeScale": "linear"}}, {"id": "s0eb719", "type": "point", "config": {"dataId": "rapid bus kl", "label": "shape pt", "color": [119, 110, 87], "highlightColor": [252, 242, 26, 255], "columns": {"lat": "shape_pt_lat", "lng": "shape_pt_lon", "altitude": null}, "isVisible": false, "visConfig": {"radius": 10, "fixedRadius": false, "opacity": 0.8, "outline": false, "thickness": 2, "strokeColor": null, "colorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "strokeColorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "radiusRange": [0, 50], "filled": true}, "hidden": false, "textLabel": [{"field": null, "color": [255, 255, 255], "size": 18, "offset": [0, 0], "anchor": "start", "alignment": "center"}]}, "visualChannels": {"colorField": {"name": "shape_pt_sequence", "type": "integer"}, "colorScale": "quantile", "strokeColorField": null, "strokeColorScale": "quantile", "sizeField": null, "sizeScale": "linear"}}, {"id": "8qb017g", "type": "point", "config": {"dataId": "rapid bus kl", "label": "stop", "color": [23, 184, 190], "highlightColor": [252, 242, 26, 255], "columns": {"lat": "stop_lat", "lng": "stop_lon", "altitude": null}, "isVisible": true, "visConfig": {"radius": 10, "fixedRadius": false, "opacity": 0.8, "outline": false, "thickness": 2, "strokeColor": null, "colorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "strokeColorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "radiusRange": [0, 50], "filled": true}, "hidden": false, "textLabel": [{"field": null, "color": [255, 255, 255], "size": 18, "offset": [0, 0], "anchor": "start", "alignment": "center"}]}, "visualChannels": {"colorField": {"name": "shape_pt_sequence", "type": "integer"}, "colorScale": "quantile", "strokeColorField": null, "strokeColorScale": "quantile", "sizeField": null, "sizeScale": "linear"}}, {"id": "a7z5v9", "type": "arc", "config": {"dataId": "rapid bus kl", "label": "position -> shape pt arc", "color": [146, 38, 198], "highlightColor": [252, 242, 26, 255], "columns": {"lat0": "position.latitude", "lng0": "position.longitude", "lat1": "shape_pt_lat", "lng1": "shape_pt_lon"}, "isVisible": true, "visConfig": {"opacity": 0.8, "thickness": 2, "colorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "sizeRange": [0, 10], "targetColor": null}, "hidden": false, "textLabel": [{"field": null, "color": [255, 255, 255], "size": 18, "offset": [0, 0], "anchor": "start", "alignment": "center"}]}, "visualChannels": {"colorField": null, "colorScale": "quantile", "sizeField": null, "sizeScale": "linear"}}, {"id": "gk9sc8a", "type": "line", "config": {"dataId": "rapid bus kl", "label": "position -> shape pt line", "color": [246, 209, 138], "highlightColor": [252, 242, 26, 255], "columns": {"lat0": "position.latitude", "lng0": "position.longitude", "alt0": null, "lat1": "shape_pt_lat", "lng1": "shape_pt_lon", "alt1": null}, "isVisible": false, "visConfig": {"opacity": 0.8, "thickness": 2, "colorRange": {"name": "Global Warming", "type": "sequential", "category": "Uber", "colors": ["#5A1846", "#900C3F", "#C70039", "#E3611C", "#F1920E", "#FFC300"]}, "sizeRange": [0, 10], "targetColor": null, "elevationScale": 1}, "hidden": false, "textLabel": [{"field": null, "color": [255, 255, 255], "size": 18, "offset": [0, 0], "anchor": "start", "alignment": "center"}]}, "visualChannels": {"colorField": null, "colorScale": "quantile", "sizeField": null, "sizeScale": "linear"}}], "interactionConfig": {"tooltip": {"fieldsToShow": {"rapid bus kl": [{"name": "timestamp", "format": null}, {"name": "vehicle.licensePlate", "format": null}, {"name": "trip_headsign", "format": null}, {"name": "stop_name", "format": null}, {"name": "route_short_name", "format": null}, {"name": "route_long_name", "format": null}, {"name": "arrival_time", "format": null}]}, "compareMode": false, "compareType": "absolute", "enabled": true}, "brush": {"size": 0.5, "enabled": false}, "geocoder": {"enabled": false}, "coordinate": {"enabled": false}}, "layerBlending": "normal", "splitMaps": [], "animationConfig": {"currentTime": null, "speed": 1}}, "mapState": {"bearing": 0, "dragRotate": false, "latitude": 3.153724281593322, "longitude": 101.53539327889258, "pitch": 0, "zoom": 9.903882166166095, "isSplit": false}, "mapStyle": {"styleType": "dark", "topLayerGroups": {}, "visibleLayerGroups": {"label": true, "road": true, "border": false, "building": true, "water": true, "land": true, "3d building": false}, "threeDBuildingColor": [9.665468314072013, 17.18305478057247, 31.1442867897876], "mapStyles": {}}}}
Map saved to rapidbuskl.html!